

.tablaGastos{
    margin: 100px auto;
    width: 800px;
    height: auto;
    max-height: 1200px;

}
    table{
        background-color: beige;
        text-align: left;
        width: 100%;
        border-collapse: collapse;
        border: solid 1px black;
        
    }
    td,th,tr{
        padding: 10px;
    } 

    thead{
        border-bottom: solid 5px;
        text-align: center;
        background-color: darkcyan;
        color: white;
    }
    tr:nth-child(even){
        background-color: gray;
    }

    tfoot{
        border-bottom: solid 5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        
        background-color: darkcyan;
        color: white;
        border: solid 1px black;
        border-top: solid 3px;
    }

.btn_remove{
    color:red;
}
   